<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>

<div class="login-container">

    <h1>Controle Financeiro</h1>

    <form id="login-form">

        <div class="input-group">
            <label for="identificador">Identificador</label>

            <input
                    type="text"
                    id="identificador"
                    placeholder="Digite seu identificador"
            >
        </div>

        <div class="input-group">
            <label for="senha">Senha</label>

            <input
                    type="password"
                    id="senha"
                    placeholder="Digite sua senha"
            >
        </div>

        <button type="submit">
            Entrar
        </button>

        <p id="mensagem"></p>

    </form>

    <p class="cadastro-texto">
        Não possui uma conta?
        <a href="cadastro.html">Cadastrar</a>
    </p>

</div>

<script src="../static/js/login.js"></script>

</body>
</html>